.container-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1200px;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 10vh auto auto;

  @media (max-width: 576px) {
    margin: 2ch auto;
  }
}
