.container-wrapper {
  // todo: add spacingSizes variable or mixin
  //padding-left: ${spacingSize.medium}px;
  //padding-right: ${spacingSize.medium}px;
  display: flex;
  max-width: 960px;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 15vh auto auto;

  @media (max-width: 576px) {
    // todo: add spacingSizes variable or mixin
    //margin: ${spacingSize.small}ch auto;
  }
}
